/* skin/colors */

body {
    background: #FFF;
    box-shadow: 0 0 10px #AAA;
    border-radius: 5px;
}

.title {
    color: #bada55;
}

.actions button {
    background: #F7F7F7;
    border: 1px solid #AAA;
}
