doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title

        // inject:css
        // endinject

        // head:js
        // endinject
    body

        header.header one-gulp

        .project-list

            .project-item
                .project-name one-gulp-home
                .project-link
                    .project-link-label BrowserSync server
                    a.project-link-address(href="http://localhost:10599") http://localhost:10599
                .project-link
                    .project-link-label Static server
                    a.project-link-address(href="http://localhost:10600") http//localhost:10600
                .project-link
                    .project-link-label BrowserSync options
                    a.project-link-address(href="http://localhost:10601") http://localhost:10601
                .project-link
                    .project-link-label Weinre inspector
                    a.project-link-address(href="http://localhost:10602") http://localhost:10602

            .project-item
                .project-name other-project
                .project-link
                    .project-link-label BrowserSync server
                    a.project-link-address(href="http://localhost:10599") http://localhost:10599
                .project-link
                    .project-link-label Static server
                    a.project-link-address(href="http://localhost:10600") http://localhosT:10600
                .project-link
                    .project-link-label BrowserSync options
                    a.project-link-address(href="http://localhost:10601") http://localhost:10601
                .project-link
                    .project-link-label Weinre inspector
                    a.project-link-address(href="http://localhost:10602") http://localhost:10602

        // inject:js
        // endinject